@model Entities.Sound
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header" id="top">
                    <h2 class="pageheader-title">Ses Ekle </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="breadcrumb-link">Anasayfa</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Sound")" class="breadcrumb-link">Sesler</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Ses Düzenle</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="basicform">
                    <h3 class="section-title">Sesler</h3>
                </div>
                <div class="card">
                    <h5 class="card-header">Ses Düzenle</h5>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CoverImage, "Resim urlini buraya yapıştırınız", htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.CoverImage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CoverImage, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                Veya
                                <label for="soundImage"> Bir resim yükleyin</label>
                                <input name="image" type="file" class="form-control-file" id="soundImage">
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Path, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Path, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "col-form-label" })
                                @Html.TextAreaFor(model => model.Summary, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Category)
                                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" value="Düzenle" class="btn btn-facebook" />

                        }
                        <div>
                            <br />
                            @Html.ActionLink("Listeye Dön", "Index")
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
