@using PagedList;
@using PagedList.Mvc;
@model PagedList<SinanDolayman.Models.VideoIndexViewModel>
@using SinanDolayman.Helpers;
<br />
@{
    ViewBag.Title = "Videolar";
}

@foreach (var video in Model)
{
    <div style="border:none; " class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="@Url.Action("Details","Video",new {id=video.GenerateSlug() })">
                    <img src="@video.CoverImage" class="card-img" height="210" width="240" alt="...">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="@Url.Action("Details","Video",new {id=video.GenerateSlug() })">
                        <h5 style="color:black" class="card-title">@video.Title</h5>
                    </a>
                    <p class="card-text">@video.Summary.SubNullable(0, 120)...</p>
                    <a type="submit" id="detayButonu" class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("Details","Video", new {id=video.GenerateSlug()})"> Devamı...</a>

                </div>
            </div>
        </div>
    </div>

}

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { searchTerm = ViewBag.Search, page }))