@model Entities.Comment

@{
    ViewBag.Title = "Delete";
}


<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header" id="top">
                            <h2 class="pageheader-title">SİLMEK İSTEDİĞİNİZE EMİN MİSİNİZ? </h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="breadcrumb-link">Anasayfa</a></li>
                                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Article") " class="breadcrumb-link">Yorumlar</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Yorum Detay</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- overview  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-section" id="overview">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h2>@Model.Commenter</h2>
                                    <p class="lead">@Html.Raw(Model.Content)</p>
                                    <p>
                                        <i class="far fa-thumbs-up"></i>@Html.Raw(Model.LikeCount)
                                        <i class="far fa-thumbs-down"></i>@Html.Raw(Model.DislikeCount)
                                    </p>
                                    <button class="btn btn-facebook">Module: @Html.Raw(Model.Module)</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-8">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div>
                                <input type="submit" value="Sil" class="btn btn-danger" /> |
                                @Html.ActionLink("Listeye Dön", "Index")
                            </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Date)
                                    </dd>
                                </dl>
                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>





