<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">



</head>

<body>
    <div>

        <nav style="height:80px;" class="navbar navbar-light bg-light">
            <span style="margin-left:43%;font-size:30px" class="navbar-brand mb-0 h1">
              <img width="650" src="~/Content/Sinan Dolayman Logo.jpg" />     
            </span>
        </nav>
        <br />
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">Anasayfa</a>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Article")">Makaleler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Book")">Kitaplar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Video")">Videolar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Sound")">Sesler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Interview")">Röportajlar</a>
                    </li>

                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Ara" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ara</button>
                </form>
            </div>
        </nav>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index","Home")">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="@Url.Action("Index","Article")">Makaleler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Book")">Kitaplar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Video")">Videolar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Sound")">Sesler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Interview")">Röportajlar</a>
                </li>

            </ul>
        </div>

    </div>






    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer style="background-color:cyan">
            <div class="row well">
                <div class="col-md-9">
                    <br />
                    <br />
                    <br />
                    <h5>Fatih Dolayman</h5>
                </div>
                <div class="col-md-3">                    
                    <h5>İletişim</h5>
                    <h5>facobook <i class="fab fa-trash"></i></h5>
                </div>
                
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




