<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="~/Content/styleForShareButtons.css" rel="stylesheet" />
    <link href="~/Content/forSmallScreens.css" rel="stylesheet" />
    <link href="~/Content/Genel.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.5.1.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
</head>

<body>
    <div>

        <nav style="height:120px;" class="navbar navbar-light bg-light">
            <div style="text-align:center;margin:auto">

                <a href="@Url.Action("Index","Home")"><img id="siteLogosu" width="650" src="~/Content/Images/Sinan Dolayman Logo.jpg" /></a>
                @*<img id="siteLogosu" width="650" src="~/Content/Images/Sinan Dolayman Logo.jpg" />*@
            </div>
        </nav>
       
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark koyuRenk">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Anasayfa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li><a class="navbar-brand" href="@Url.Action("Index","Article")">Makaleler</a></li>
                        <li> <a class="navbar-brand" href="@Url.Action("Index","Book")">Kitaplar</a></li>
                        <li><a class="navbar-brand" href="@Url.Action("Index","Video")">Videolar</a></li>
                        <li><a class="navbar-brand" href="@Url.Action("Index","Sound")">Sesler</a></li>
                        <li><a class="navbar-brand" href="@Url.Action("Index","Interview")">Röportajlar</a></li>                       
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input style="width:280px" id="genelArama" name="searchTerm" class="form-control mr-sm-2" type="search" placeholder="Ara..." value="@ViewBag.SearchTerm" aria-label="Search">
                        <button style="width:70px" id="aramaButonu" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Ara</button>
                    </form>
                </div>
            </div>
           
        </nav>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index","Home")">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Article")">Makaleler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Book")">Kitaplar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Video")">Videolar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Sound")">Sesler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Interview")">Röportajlar</a>
                </li>

            </ul>
        </div>

    </div>




    <div style="min-height:700px" class="container body-content">
        @RenderBody()
        <hr />


    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap.js"></script>

    <footer style=" background-color: #0079c1">
        <div class="container">
            <div class="row well">
                <div style="color:white;margin-bottom:20px" class="col-md-9">
                    <br />
                    <h5>Sayfalar</h5>
                    <a style="color:white" href="@Url.Action("Index","Home")">Anasayfa</a> <br />
                    <a style="color:white" href="@Url.Action("Index","Article")">Makaleler</a> <br />
                    <a style="color:white" href="@Url.Action("Index","Book")">Kitaplar</a><br />
                    <a style="color:white" href="@Url.Action("Index","Video")">Videolar</a> <br />
                    <a style="color:white" href="@Url.Action("Index","Sound")">Sesler</a> <br />
                    <a style="color:white" href="@Url.Action("Index","Interview")">Röportajlar</a>
                </div>




                <div id="sosyalMedyalarr" style=" margin-top: 20px; background-color: #0079c1; float: right; border: none" >
                    <div style="border:none;background-color:transparent;" class="card-header">
                        <h5 style="color:white">Sosyal Medya</h5>
                    </div>
                    <div class="card-body pull-right">

                        <a style="color:white" href="https://www.facebook.com/sinan.dolayman"><i  id="faceFooterIcon" class="fab fa-facebook fa-2x"></i></a>
                        <a style="color:white" href="https://twitter.com/sinandolayman"><i class="fab fa-twitter fa-2x"></i></a>
                        <a style="color:white" href="https://www.instagram.com/sinandolayman/?hl=tr"><i class="fab fa-instagram fa-2x"></i></a>
                        <a style="color:white" href="https://www.youtube.com/channel/UCEP6lb7t_ApyK7Jnm9cMV7Q"><i class="fab fa-youtube fa-2x"></i></a>

                        @*<a style="background-color:#0079c1; color:white" href="https://www.facebook.com/sinan.dolayman"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a style="color:white" href="https://twitter.com/sinandolayman"><i class="fab fa-twitter-square fa-2x"></i></a>
                        <a style="color:white" href="https://www.instagram.com/sinandolayman/?hl=tr"><i class="fab fa-instagram-square fa-2x"></i></a>
                        <a style="color:white; background-color:#0079c1" href="https://www.youtube.com/channel/UCEP6lb7t_ApyK7Jnm9cMV7Q"><i class="fab fa-youtube fa-2x"></i></a>*@
                    </div>
                </div>

            </div>
        </div>
    </footer>
   
</body>
</html>


