@model IEnumerable<Entities.DolaymanUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Kullanıcılar</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="breadcrumb-link">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kullanıcılar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->

        <div class="row">
            <!-- ============================================================== -->
            <!-- data table multiselects  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Kullanıcılar</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            @Html.ActionLink("Yeni Ekle", "Create")
                        </p>
                        <div class="table-responsive">

                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end data table multiselects  -->
            <!-- ============================================================== -->
        </div>
    </div>
   
</div>




@*@model IEnumerable<Entities.DolaymanUser>

    @{
        ViewBag.Title = "Index";
    }

    <div class="container">
        <br />
        <br />
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>*@
